@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');

body {
    color: #f8f8f8;
    background-color: #1e1e1e;
}

div.appview-container.css-1wrcr25.ea3mdgi6 {
    background-image: url(https://getwallpapers.com/wallpaper/full/9/b/d/940498-vertical-dark-blue-abstract-wallpaper-1920x1200-windows-10.jpg);
}

.css-vk3wp9.eczjsme11 {
    background-color: rgba(255, 255, 255, 0);
}

section.css-1cypcdb.eczjsme11 {
    border: solid;
    border-color: black;
    border-radius: 0rem 5rem 5rem 0rem;
    width: 450px;
}

.css-18ni7ap {
    background-color: rgba(255, 255, 255, 0);
}

.eyeqlp51.css-fblp2m.ex0cdmw0 {
    color: white;
}

div.css-6qob1r.eczjsme3 {
    border: solid;
    border-color: black;
    background-color: black;
    border-radius: 0rem 5rem 5rem 0rem;
    background-color: rgb(1, 118, 202);
    background-image: url(https://w0.peakpx.com/wallpaper/766/725/HD-wallpaper-blurred-colorful-vertical-portrait-display-blue-gradient.jpg);
}

div.css-v309zb.eeusbqq3 {
    background-image: url(https://uploads-ssl.webflow.com/5a9ee6416e90d20001b20038/635a965a67b20e3f8ffb8492_horizontal%20);
    border: none;
    border-radius: 2rem;
}

div.st-ar {
    margin-top: -10px;
    margin-left: 20px;
}

div.st-bd {
    background-color: rgba(47, 47, 47, 0.132);
}

div.css-1n76uvr.e1f1d6gn0 {
    background-color: rgba(8, 8, 8, 0.476);
    border-radius: 2rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    margin-right: 1rem;
}

p {
    font-family: 'Montserrat';
    font-size: 12px;
    color: white;
}

h3 {
    font-family: 'Montserrat';
    color: white;
}

span.css-10trblm.e1nzilvr0 {
    font-family: 'Montserrat';
    color: white;
}

li {
    color: white;
}

div.eczjsme2 {
    margin-right: 1.5rem;
    margin-top: 1.5rem;
}

div.st-bt {
    background-color: rgba(0, 0, 0, 0.628);
    border-color: rgb(1, 133, 166);
    border-radius: 1rem;
}

div.st-bx {
    color: white;
}

.stChatFloatingInputContainer {
    background: rgb(0, 39, 74);
    border-radius: 1rem;
    padding: 3rem;
    margin-left: -20px;
}

.css-1avcm0n.ezrtsby2 {
    background: none;
}

div.css-6qob1r.eczjsme3 {
    padding-left: 2rem;
    padding-right: 2rem;
}

button.st-c7 {
    background: rgb(0, 152, 186);
    border-radius: 1rem;
    padding: 1rem;
    margin-right: -2px;
}

div.st-bu {
    border-color: rgb(0, 177, 236);
}

button.css-7ym5gk {
    background-color: rgb(0, 74, 113);
    border-color: rgb(1, 112, 197);
}

a.a  {
    color: rgb(0, 255, 247);
}

button:hover {
    background-color: rgb(124, 0, 0);
    color: black;
    transition: 0.5s;
}

button.css-13ejsyy.ef3psqc11 {
    background: rgb(0, 32, 56);
}

button.css-13ejsyy.ef3psqc11:hover {
    background-color: rgb(124, 0, 0);
    color: black;
    transition: 0.5s;
}

button.css-13ejsyy.ef3psqc6 {
    background: rgb(0, 32, 56);
}
